BasedOnStyle: Microsoft
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Allman
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
BinPackArguments: false
BinPackParameters: false
