BasedOnStyle: Microsoft
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Right
AccessModifierOffset: -4
SortIncludes: Never
IncludeBlocks: Preserve
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
BinPackArguments: true
BinPackParameters: true
